<!DOCTYPE html>
<html>
<head>
    <title>Services</title>
<!-- Arash Karimi | 301303157 -->
<!-- https://github.com/imCaptainG/Assignment1.git -->

<link rel="stylesheet" type="text/css" href="/styles.css">

    <header>
        <nav>
            <div class="logo">
                <img src="images/logo.jpg" alt="Logo">
            </div>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/contactus">Contact Us</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <h2>Welcome to My Portfolio</h2>
            <p>Hello, and thank you for visiting my portfolio website. I'm thrilled to have this platform to showcase my
                work and share my passion with you.</p>
            <p>Throughout my career, I have dedicated myself to honing my skills in web development, design, and
                problem-solving. I love creating beautiful and user-friendly websites that leave a lasting impact.</p>
            <p>Here you'll find a collection of my latest projects, where I've combined my technical expertise with
                creativity to deliver exceptional results. Feel free to explore, get inspired, and reach out if you have
                any questions or collaboration opportunities.</p>
            <p>Thank you once again for visiting, and I hope you enjoy your time here!</p>
        </section>
        <a href="/about">Learn more about me</a>
    </main>

    <script src="scripts/app.js"></script>

    <%- include('partials/footer.ejs') %>