<!DOCTYPE html>
<html>
<!-- Arash Karimi | 301303157 -->
<!-- https://github.com/imCaptainG/Assignment1.git -->

<head>
    <title>Projects</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>

<body>
    <header>
        <nav>
            <div class="logo">
                <img src="images/logo.jpg" alt="Logo">
            </div>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/contactus">Contact Us</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Projects: </h1>
        <div class="peoject">
            <h2>Project 1</h2>
            <p>I designed this game with HTML, CSS, and JS. This game is known as 'Bug Click' which is simple and entertaining. </p>
            <img src="images/p1.jpg" alt="project 1">

        </div>
        <div class="service">
            
            <h2>Project 2</h2>
            <p>This website is my second project with HTML,css and  which takes information from user for billing and shipping.</p>
                <img src="images/p2.jpg" alt="Service 2">
        </div>
        <div class="service">
            
            <h2>Project 3</h2>
            <p>I developed a fraction calculator via C#. I'd say in terms of designing this project was easiest but in terms of logic and coding one
                of the most complicated projects that I attended to.
            </p>
                <img src="images/p3.jpg" alt="Service 3">
        </div>
    </main>

    <script src="scripts/app.js"></script>
    <%- include('partials/footer') %>
</body>

</html>