<!DOCTYPE html>
<html>
<!-- Arash Karimi | 301303157 -->
<!-- https://github.com/imCaptainG/Assignment1.git -->

<head>
    <title>Services</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>

<body>
    <header>
        <nav>
            <div class="logo">
                <img src="images/logo.jpg" alt="Logo">
            </div>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/contactus">Contact Us</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="service">
            <h1>Services: </h1>

            <h2>Service 1</h2>
            <p> Software Development:</p>
            <p> Creating desktop applications for various operating systems.</p>
            <p> Building mobile applications for iOS and Android platforms.</p>
            <p> Conducting software testing and quality assurance.</p>
            <img src="images/software.jpg" alt="Service 1">
        </div>
            <div class="service">
                
                <h2>Service 2</h2>
                <p>Web Development:</p>
                <p> Designing and developing responsive and user-friendly websites.</p>
                <p> Implementing front-end interfaces using HTML, CSS, and JavaScript.</p>
                <p> Integrating backend functionality using frameworks like Node.js or Django.</p>
                <img src="images/web.jpg" alt="Service 2">
            </div>
        <div class="service">
            
            <h2>Service 3</h2>
            <p>Project Management:</p>
            <p> Management of your ditigtal projects from A to Z.</p>
            <p> Developing roadmap and ideas for new projects.</p>
            <p> Providing maintenance and support for all kind projects.</p>
            <img src="images/project.jpg" alt="Service 3">
        </div>
    </main>

    <script src="../public/scripts/app.js"></script>
    <%- include('partials/footer') %>
</body>

</html>